body{
    background-color: #00CED1;
}
.header{
    background-color: #008B8B;
    width: 101.5%;
    height: 15%;
    position: relative;
    top: -10px;
    right: -10px;
    left: -10px;

}
.portofolio{
    font-size: 60px;
    margin: auto;
    padding-left: 50px;
}
.footer{
    background-color: #008B8B;
    width: 100.6%;
    height: 100px;
    position: absolute;
    top: 547;
    left: -10px;
}
.desain{
    font-size: 15px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 25px;
}
.gambar{
    background-color: #e0e4cc;
    width: 400px;
    height: 450px;
    position: relative;
    margin-top: -10px;
    left: -10px;
}
.fotodiri{
    width: 140px;
    height: 230px;
    position: relative;
    left: 143px;
    top: 50px;
}
.nama{
    position: relative;
    text-align: center;
    top: 50px;
}
.freelancer{
    color: #ea00ff;
}
.tentang{
    position: relative;
    bottom: 70px;
}
.kontak{
    font-size: medium;
    position: relative;
    left: 650px;
    text-decoration: none;
}
.beranda{
    font-size: medium;
    position: relative;
    left: 550px;
    text-decoration: none;
}
.profil{
    font-size: medium;
    position: relative;
    left: 600px;
    text-decoration: none;
}
.form{
    position: relative;
    top: 80px;
    right: 580px;
}
.ilham{
    position: relative;
    left: -50px;
    bottom: -100px;
}
/*.tulis{
    position: relative;
    left: 150px;
}*/